ClientConsoleApp/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Hello2_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello2" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Hello3_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello3" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Hello3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hello3Response" />
  </wsdl:message>
  <wsdl:message name="ICalculator_FaultContractSampleMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:FaultContractSampleMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_FaultContractSampleMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaultContractSampleMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_FaultContractSampleMethod_GreetingFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" name="detail" element="q1:GreetingFault" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Hello" message="tns:ICalculator_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/HelloResponse" message="tns:ICalculator_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello2">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Hello2" message="tns:ICalculator_Hello2_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello3">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Hello3" message="tns:ICalculator_Hello3_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Hello3Response" message="tns:ICalculator_Hello3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaultContractSampleMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/FaultContractSampleMethod" message="tns:ICalculator_FaultContractSampleMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/FaultContractSampleMethodResponse" message="tns:ICalculator_FaultContractSampleMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://localhost:8888/GreetingFault" name="GreetingFaultFault" message="tns:ICalculator_FaultContractSampleMethod_GreetingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Subtract" message="tns:ICalculator_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SubtractResponse" message="tns:ICalculator_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Divide" message="tns:ICalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DivideResponse" message="tns:ICalculator_Divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>